<h1>All Vendors</h1>
<p><strong>Average sweet price:</strong> <%=@average_sweets_price%> cents</p>

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor) %> </li>
  <% end  %>
</ul>
